html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 90vh;
  background: url(./assets/coffee-apple.jpg) no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  overflow: hidden;
}
